.bookingEngine{
    background-color: rgba(0,0,0,0.7);
    border-radius: 3px;
    padding: 15px;
    min-height:120px;
    float:left;
    width:auto;
}

li{
    display: inline;
    float: left;
}

#banner {
    background-image: url(Images/bar_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

footer {
    clear: both;
    width: auto;
    height: 40px;
    padding: 10px;
    border: 3px solid #E3E3E3;
    text-align: center;
    color: #fff;
    background-image: url(Images/bar_background.png);
}